svg {

    circle {
        fill: white;
        stroke-width: 4px;
    }

    .colorFor2 {
        stroke: #263238;
    };
    .colorFor3 {
        stroke: #d50000;
    };
    .colorFor5 {
        stroke: #aa00ff;
    } ;

    .colorCycle1 {
        stroke: #304ffe;
    }
    .colorCycle2 {
        stroke: #0091ea;
    }
    .colorCycle3 {
        stroke: #00bfa5;
    }
    .colorCycle4 {
        stroke: #64dd17;
    }
    .colorCycle5 {
        stroke: #ffd600;
    }


}
